<div class="details-wrapper">
    <p *ngIf="!userDetails">Incorrect user ID!</p>
    <div *ngIf="userDetails" class="">
        <h1 class="welcome">Welcome back user <span>{{userInitials}}.</span></h1>
        <div class="wrapper">
            <ul class="user-data">
                <li class="user-data-initials">Initials: {{userInitials}}.</li>
                <li>Name: {{userDetails.name}}</li>
                <li>Adress: {{userDetails.address.street}} {{userDetails.address.suite}}</li>
                <li>City: {{userDetails.address.city}}</li>
            </ul>
            <div *ngFor = "let album of userAlbums">
                <a [routerLink]="['/user', userDetails.id,'album', album.id]">{{album.title}}</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>